* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DAF5FF;
}

@media (min-width:768px) {
    body {
    background-color: #EDC6B1;
    }
}
@media (min-width: 1024px) {
    body {
        background-color: #E8A0BF;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: #BA90C6;
    }
}